$primary-color: #08ad6b;
$primary-dark: #06945b;
// $secondary-color: #7c3aed;
$text-color: #333;
$light-bg: #f9fafb;
$dark-bg: #1e293b;
$light-text: white;

$AccentColor: #08ad6b;
$NeutralColor: #9b9b9b;
$DarkColor: #3c3c3c;
